<div id="blog">       
    <form class="article" action="/article" method="POST" enctype="multipart/form-data">
        <h1>Cree un article</h1>
                
        <div>
            <label><b>Titre de l'article :</b></label>
            <input type="text" placeholder="Entrer le titre de l'article" name="title" required>
        </div>

        <div class="form-group">
            <label class="categorie" for="categorie"><b>Categorie à selectionner :</b></label>            
            <select name="categorie" class="form-control" id="categorie">
                {{#each categorie}}
                <option value="{{this._id}}">{{this.title}}</option>
                {{/each}}
            </select>
        </div>

        <div>
            <label><b>Ajouter le contenu de votre article :</b></label>
            <input type="text" placeholder="Ajouter le contenu de l'article" name="content" required>
        </div>

        <div>
            <label><b>Image :</b></label>
            <input class="form-control" type="file" name="cover">
        </div>
                        
        <div>
            <label><b>Auteur de l'article :</b></label>
            <input type="text" placeholder="Entrer votre pseudo" name="author" required>    
        </div>

        <input type="submit" id='submit' value='Ajoutez' >
    </form>
    <a href="http://localhost:1995" class="back-index">Afficher les articles</a>
</div>